<div id="<%= dom_id challenge %>">
  <p>
    <strong>Name:</strong>
    <%= challenge.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= challenge.country %>
  </p>

  <p>
    <strong>Original content:</strong>
    <%= challenge.original_content %>
  </p>

  <p>
    <strong>Parsing content:</strong>
    <%= challenge.parsing_content %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= challenge.token %>
  </p>

</div>
