<script>
  function copyText(idx){
    console.log("PUSH IDX: "+idx)
    const source_element = document.getElementById("src_txt_example_"+idx);

    const target = document.getElementById("challenge_original_content");
    target.value += source_element.innerText;
  }
</script>


<%= form_with(model: challenge) do |form| %>
  <% if challenge.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(challenge.errors.count, "error") %> <%= t('challenge.form.errors.form_validation') %></h2>

      <ul>
        <% challenge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @result.class == Array %>
    <div style="color: red">
      <h2><%= t('challenge.form.errors.form_description') %>:</h2>
      <ul>
        <% @result.each do |error| %>
          <li><%= error.to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1><%= t('challenge.form.title') %></h1>
  <p><%= t('challenge.form.instruction_1') %></p>

  <div class="form-group">
    <%= form.label t('challenge.attr.name.input'), style: "display: block", class: "form-label" %>
    <%= form.text_field :name, maxlength: 50 , class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label t('challenge.attr.country.input'), style: "display: block", class: "form-label"  %>
    <%= form.country_select :country, class: "form-input" %>
  </div>

  <h1><%= t('words.dynamic') %></h1>
  <p><%= t('challenge.form.instruction_2') %></p>
  <p><%= t('words.structure') %>:</p>
  <p><%= t('words.object') %> . <%= t('words.attribute') %> = <%= t('words.value') %> ;</p>
  <p><%= t('challenge.form.instruction_3') %></p>
  

  <p><%= t('challenge.form.instruction_4') %></p>
  <p><%= t('challenge.form.instruction_5') %></p>


  <div>
    <%= form.label t('challenge.attr.original_content.input'), style: "display: block", class: "form-label"  %>
    <%= form.text_area :original_content, maxlength: 250, class: "form-input" %>
  </div>

  <div>
    <%= form.submit t('challenge.action.create') %>
  </div>
<% end %>

<p><%= t('sentence.describe_examples') %>:</p>
  <table>
    <tr>
      <td><%= t('sentence.example_str_1') %></td>
      <td><p id="src_txt_example_1"><%= t('sentence.example_pgr_1') %></p></td>
      <td>
        <button class="round-btn" onClick="copyText(1)">
          <%= image_tag 'copiar.png', alt: 'Copy Image', class: 'round-icon-btn' %>
        </button>
      </td>
    </tr>
    <tr>
      <td><%= t('sentence.example_str_2') %></td>
      <td><p id="src_txt_example_2"><%= t('sentence.example_pgr_2') %></p></td>
      <td>
        <button class="round-btn" onClick="copyText(2)">
          <%= image_tag 'copiar.png', alt: 'Copy Image', class: 'round-icon-btn' %>
        </button>
      </td>
    </tr>
    <tr>
      <td><%= t('sentence.example_str_3') %></td>
      <td><p id="src_txt_example_3"><%= t('sentence.example_pgr_3') %></p></td>
      <td>
        <button class="round-btn" onClick="copyText(3)">
          <%= image_tag 'copiar.png', alt: 'Copy Image', class: 'round-icon-btn' %>
        </button>
      </td>
    </tr>
    <tr>
      <td><%= t('sentence.example_str_4') %></td>
      <td><p id="src_txt_example_4"><%= t('sentence.example_pgr_4') %></p></td>
      <td>
        <button class="round-btn" onClick="copyText(4)">
          <%= image_tag 'copiar.png', alt: 'Copy Image', class: 'round-icon-btn' %>
        </button>
      </td>
    </tr>
    <tr>
      <td><%= t('sentence.example_str_5') %></td>
      <td><p id="src_txt_example_5"><%= t('sentence.example_pgr_5') %></p></td>
      <td>
        <button class="round-btn" onClick="copyText(5)">
          <%= image_tag 'copiar.png', alt: 'Copy Image', class: 'round-icon-btn' %>
        </button>
      </td>
    </tr>
  </table>