<%= form_with(model: challenge) do |form| %>
  <% if challenge.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
        <% challenge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @result.class == Array %>
    <div style="color: red">
      <h2>Some errors detected:</h2>
      <ul>
        <% @result.each do |error| %>
          <li><%= error.to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Bienvenido a mi portafolio</h1>
  <p>Hagamos algunas dinamicas, pero para empezar ingresa la siguiente información</p>

  <div class="form-group">
    <%= form.label "Ingresar Nombre", style: "display: block", class: "form-label" %>
    <%= form.text_field :name, maxlength: 50 , class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label "Selecciona País", style: "display: block", class: "form-label"  %>
    <%= form.country_select :country, class: "form-input" %>
  </div>

  <h1>Dinamica</h1>
  <p>En el siguiente texto describamos un objeto con sus atributos y valores.</p>
  <p>Estructura:</p>
  <p>objeto . atributo = valor ;</p>
  <p>Cada objeto definiremos su atributo por punto. Añadiremos un igual para especificar el valor del atributo. Finalizaremos con punto y coma cada descripción de objeto.</p>
  <p>Ejemplo:</p>
  <table>
    <tr><td>El carro color rojo</td><td>carro.color=rojo;</td></tr>
    <tr><td>La pared con altura 10 metros</td><td>pared.altura=10;</td></tr>
    <tr><td>El precio de la orden fue 100</td><td>orden.precio=100;</td></tr>
  </table>

  <p>Al presionar procesar se realizara un parsing de lo ingresado y se estructura un JSON de dicho objeto. A su vez se generara una URL de exposición de información con un token unico para acceder a la URL.</p>
  <p>Tu objeto quedara registrado en base de datos para futuras re-consultas</p>


  <div>
    <%= form.label "Describir", style: "display: block", class: "form-label"  %>
    <%= form.text_area :original_content, maxlength: 250, class: "form-input" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
