<p style="color: green"><%= notice %></p>

<% content_for :title, "Challenges" %>

<h1><%= t('challenge.title') %></h1>


<%= link_to "(+) "+t('challenge.action.new'), new_challenge_path, class: 'round-btn' %>

<div class="digg_pagination">
  <%= will_paginate @challenges, :previous_label => t("will_paginate.previous_label"), :next_label => t("will_paginate.next_label"), :container => false %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t('challenge.attr.name.raw') %></th>
      <th><%= t('challenge.attr.country.raw') %></th>
      <th><%= t('challenge.attr.content_summary.raw') %></th>
      <th><%= t('challenge.attr.created_at.raw') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.name %></td>
        <td><%= challenge.country %></td>
        <td><%= challenge.original_content.length %></td>
        <td><%= challenge.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
        <td>
          <%= link_to image_tag('eye-outline.svg', alt: 'Show', class: 'round-icon-btn'), challenge_path(challenge), class: 'round-btn'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>