<p style="color: green"><%= notice %></p>

<% content_for :title, "Challenges" %>

<h1>Challenges</h1>


<%= link_to "(+) New Challenge", new_challenge_path, class: 'round-btn' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Content Summary</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.name %></td>
        <td><%= challenge.country %></td>
        <td><%= challenge.original_content.length %></td>
        <td><%= challenge.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
        <td>
          <%= link_to image_tag('eye-outline.svg', alt: 'Show', class: 'round-icon-btn'), challenge_path(challenge), class: 'round-btn'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


