<script>
  function cancelAction(){
    document.getElementById('myModal').style.display = 'none';
  }

  function openModalAction(){
    document.getElementById('myModal').style.display = 'block';
  }
  
  function confirmAction(id, i18n){
    console.log("id: "+id);

    const postData = { id: id };
    $.ajax({
        url: '/api/v1/challenges/delete',
        type: 'POST',
        data: JSON.stringify(postData),
        contentType: 'application/json',
        success: function(response){
          if(response.success){            
            window.location.href = '/challenges/delete/success?locale='+i18n;
          }
        },
        error: function(xhr){
          console.log("ERROR: "+xhr.responseJSON);
        }
    });

    document.getElementById('myModal').style.display = 'none';
  }

</script>
<p style="color: green"><%= notice %></p>

<h3><%= t('challenge.action.show.title') %></h3>
<p><%= t('words.hello') %> <%= @challenge.name %> <%= t('challenge.action.show.content_p1') %><a href="/api/v1/challenges/show?token=<%= @challenge.token %>" target="_blank">Link</a><%= t('challenge.action.show.content_p2') %></p>

<div class='json-box'>
  <% begin %>
  <pre><%= JSON.pretty_generate(JSON.parse(@challenge.parsing_content.to_s)) %></pre>
  <% rescue %>
    <p>Opps!!! este registro esta mal diseñado</p>
  <% end %>
</div>

<div>
  <%= link_to t('words.back'), challenges_path %>
  <button onclick="openModalAction()"><%= t('words.delete') %></button>
</div>


<!-- Delete Confirmation Modal -->
<div id="myModal" class="float-modal">
  <div  class="content-float-modal">
    <p><%= t('dialog.confirm.delete_item') %></p>
    <button onclick="confirmAction(<%= @challenge.id %>, '<%= params[:locale] %>')"><%= t('words.confirm') %></button>
    <button onclick="cancelAction()"><%= t('words.cancel') %></button>
  </div>
</div>