<p style="color: green"><%= notice %></p>

<h3>Tu Resultado</h3>
<p>Hola <%= @challenge.name %> a continuación el resultado de tu procesamiento de información. Puedes copiarlo o usar un REST GET con la siguiente (<a href="/api/v1/challenges/show?token=<%= @challenge.token %>" target="_blank">Link</a>) para obtener el JSON</p>

<div class='json-box'>
  <% begin %>
  <pre><%= JSON.pretty_generate(JSON.parse(@challenge.parsing_content.to_s)) %></pre>
  <% rescue %>
    <p>Opps!!! este registro esta mal diseñado</p>
  <% end %>
</div>

<div>
  <%= link_to "Back to challenges", challenges_path %>
  <%= button_to "Destroy this challenge", @challenge, method: :delete %>
</div>
